@font-face {
	font-family: 'Open Sans';
	src: url('OpenSans.ttf') format('truetype');
}

body {
  background: #e3e4e6;
  font-family: 'Open Sans', sans-serif;
}

.container {
  margin: 10px auto;
  background: #031b5e;
  color: #cddcf3;
  border-radius: 5px;
  width: 400px;
  text-align: center;
  box-shadow: 0 10px 20px -10px rgba(0, 0, 0, 0.75);
}

.cover-photo {
  background: url(cover-photo.jpg);
  height: 160px;
  width: 100%;
  border-radius: 5px 5px 0 0;
}

.photo {
  height: 125px;
  border-radius: 50%;
  margin: 93px 0 0 -225px;
  border: 1px solid #031b5e;
  padding: 2px;
  background: #031b5e;
}

.name-container {
  margin: 15px 0 0 160px;
  display: flex;
  flex-flow: column wrap;
  text-align: left;
}

.name {
  font-size: 25px;
  font-weight: bold;
}

.title {
  font-size: 15px;
}

.about {
  text-align: justify;
  text-justify: inter-word;
  padding: 25px;
  font-weight: 300;
}

.social-container {
  padding: 0 0 25px 0;
}

.linkedin {
  height: 35px;
  padding-right: 5px;
}

.github {
  height: 35px;
}

@media screen and (max-width: 420px) {
  .container {
    width: 320px;
  }

  .cover-photo {
    height: 128px;
  }

  .photo {
    height: 100px;
    margin: 75px 0 0 -200px;
  }

  .name-container {
    margin: 10px 0 0 120px;
  }

  .name {
    font-size: 20px;
  }

  .title {
    font-size: 12px;
  }

  .linkedin {
    height: 48px;
    padding-right: 15px;
  }

  .github {
    height: 48px;
  }
}
